{{#each monuments}}
  <li>
    <a href="#settings">
      <aside class="pack-end">
        <img src="{{image}}">
      </aside>
      <p>{{name}}</p>
      <p>{{address}}</p>
    </a>
  </li>
{{/each}}
