
{{#each monuments}}
  <li>
    <a href="https://fr.wikipedia.org/wiki/{{monument_article}}">
      <aside class="pack-end">
        <img src={{image}}>
      </aside>
      <p>{{name}}</p>
      <p>{{address}}</p>
    </a>
  </li>
{{/each}}
